<div class="pokemon">
  <div class="col bg-body-tertiary">
    <h2 *ngFor="let name of FixName()">{{ name | titlecase}}</h2>
    <img [src]="pokemon.img" width="250px">
    <div class="col">
      <ul class="list-group" style="margin-inline: 47ex;">
        <li class="list-group-item">Nº {{pokemon.id}}</li>
        <li class="list-group-item">Altura: {{pokemon.height}}</li>
        <li class="list-group-item">Peso: {{pokemon.weight}}</li>
        <li class="list-group-item">Experiência Base: {{pokemon.base_experience}}</li>
      </ul>
      <br>
      <div class="text-center">
        <button class="button" (click)="backwardPokemon()">
          Anterior
        </button>
        <button class="button2" (click)="forwardPokemon()">
          Próximo
        </button>
      </div>
    </div>
  </div>